* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

.navigationbar {
  display: flex;
  justify-content: space-between;
  padding-left: 65px;
  padding-right: 65px;
}

.menu>ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

.menu>ul>li {
  margin-left: 20px;
  padding: 12px 18px;
  font-size: 20px;
}

.logo {
  font-size: 30px;
}

span {
  color: #ec4067;
}

.enroll {
  background-color: #ec4067;
  color: white;
  border-radius: 5px;
}

.enroll>a {
  color: white;
}

.all {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 100px;
  margin-bottom: 120px;
}

.intro {
  display: flex;
  justify-content: center;
}

.brief {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.coding>img {
  height: 100%;
  width: 80%;
}

.brief>h1 {
  padding-bottom: 8px;
}

.brief>h2 {
  padding-bottom: 12px;
}

button {
  box-shadow: rgba(165, 35, 35, 0.25) 0px 14px 28px,
    rgba(150, 31, 31, 0.22) 0px 10px 10px;
}

.enrollnow,
.explore {
  padding: 12px 16px;
  width: 25%;
  font-size: large;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.enrollnow {
  background-color: #ec4067;
  border: none;
  border-radius: 5px;
  color: white;
}

.explore {
  border: none 3;
  border-bottom: 2px solid #ec4067;
  background-color: white;
  color: #ec4067;
}

.ori-boa-gra {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pics {
  width: 50%;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px;
  margin-bottom: 100px;
}

.stories-text {
  padding-top: 80px;
}

.stories-text * {
  padding-left: 40px;
  padding-top: 30px;
  padding-right: 20px;
}

.btn-stories {
  padding: 12px 16px;
  border: none;
  background-color: #ec4067;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 40px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.heading-text {
  font-weight: bold;
  font-size: 25px;
}

.img_container {
  position: relative;
}

.img_container>img {
  width: 100%;
  padding-bottom: 20px;
  position: relative;
}

.name {
  position: absolute;
  bottom: 20px;
  left: 15px;
  font-size: 20px;
}

.about-tms {
  padding-left: 5px;
  font-size: 15px;
}

.about-tms>h1 {
  padding-bottom: 20px;
  font-weight: lighter;
  font-size: 25px;
  color: #ec4067;
}

.btn-ask {
  padding: 10px 16px;
  border-radius: 5px;
  background-color: #ec4067;
  border: none;
  color: white;
  margin-top: 20px;
}

.project {
  padding-top: 50px;
  padding-bottom: 80px;
}

.project>img {
  width: 60%;
  float: right;
}

.our * {
  padding-bottom: 25px;
  font-weight: lighter;
}

.our>h1 {
  font-size: 30px;
}

.our>h2 {
  padding-bottom: 15px;
}

.project {
  display: flex;
}

.btn-project {
  padding: 12px 16px;
  color: white;
  background-color: #ec4067;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 30px;
}

.still {
  font-size: 25px;
  line-height: 1.6;
  font-weight: lighter;
}

.still>p>span {
  font-size: 18px;
}

footer {
  background-color: rgb(194, 190, 190);
  text-align: center;
  padding: 30px;
}

.fa-solid {
  color: red;
}

/* Media Queries */
@media screen and (max-width: 1250px) {
  .intro ,.still ,.project{
      flex-direction: column;
  }
  .column , .img_container ,.row{
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  .enrollnow, .explore{
    width: 50%;
  }
  .btn-enroll-explore{
    display: flex;
  }
  .coding > img{
    width: 100%;
  }
 .ori-boa-gra ,.column{
   flex-direction: column;
   background-color: antiquewhite;
 }
 .pics, .stories-text{
   width: 100%;
 }
 .project>img{
   width: 100%;
 }
 .menu{
   display: none;
 }
}